<h2>Messages</h2>

<div class="messages-container">
  <ul>
    {{#each model as |msg|}}
      <li>{{msg.name}}: {{msg.body}}</li>
    {{/each}}
  </ul>
</div>

<form class="new-msg-form" {{ action 'addMessage' on="submit"}}>
  {{input type="text" placeholder="Name" value=name class="name-input"}}
  {{input type="text" placeholder="Message" value=body class="msg-input"}}
  <button type="submit" class="submit">Submit</button>
</form>